@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
  font-family: "Cabin", Arial, sans-serif;
  color: #333; /* Dark text color */
  background-color: #f9f9f9; /* Light gray background */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

.navbar {
  background-color: #ff5733; /* Coral color */
  border-color: #e03a22; /* Slightly darker coral */
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  color: #ffffff; /* White font color */
}

.banner {
  margin-top: 4em;
  border-bottom: 2px solid #ff5733; /* Coral border */
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}

h1 small {
  color: #777; /* Darker gray */
}

.card {
  background-color: #ffffff; /* White cards */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.card-title a {
  color: #333; /* Dark font color for titles */
  text-decoration: none;
}

.card-title a:hover {
  color: #ff5733; /* Coral on hover */
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card-body {
  padding: 1.5em;
}

.card-text {
  color: #555; /* Dark gray font color for text */
}

.btn-primary {
  background-color: #ff5733; /* Coral */
  border-color: #e03a22; /* Slightly darker coral */
}

.btn-primary:hover {
  background-color: #e03a22; /* Darker coral on hover */
}

.legend {
  font-family: 'Lobster', cursive;
}

.card-primary {
  border-color: #a2ced3;
  margin-bottom: 1rem;
}

.review-header {
  background-color: #ff5733; /* Coral color */
  color: #ffffff; /* White font color */
  padding: 0.5em 1em; /* Add padding */
  margin-bottom: 0.5em;
  border-radius: 4px; /* Rounded corners */
}

.review {
  margin-bottom: 1em;
}


/* public/css/styles.css */
.image-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; /* Adjust the position as needed */
}


.details-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  color: white;
  backdrop-filter: blur(8px); /* Apply blur effect to the overlay */
}
